body {
    font-size: 14px;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

form {
    position: fixed;
    bottom: 20px;
    left: 5%;
    width: 50%;
}

form input { 
    font-size: inherit;
    width: 100%;
    border: 1px solid black;
    border-radius: 7px;
    padding: 10px; 
    color: white;
    background: #333333;
}

.dark {
    background-color: #444444;
}

.chatBox {
    border: 1px solid black;
    border-radius: 7px;
    position: fixed;
    bottom: 65px;
    left: 5%;
    padding: 10px;
    width: 50%;
    height: 85vh;
    background: #333333;
    overflow-wrap: break-word;
    overflow-y: scroll;
}

.chatBox::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #333333;
	border-radius: 10px;
}

.chatBox::-webkit-scrollbar
{
	width: 10px;
	background-color: #333333;
}

.chatBox::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: rgba(255,255,255,.1);
}

.chatBox:hover::-webkit-scrollbar-thumb
{
	background-color: rgba(255,255,255,.2);
}


.messages { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    color: white;
}

.messages li {
    padding: 5px 5px;
}

#name {
    color: white;
    align-items: right;
}

#connect {
    color: #bbb;
    font-style: italic;
}

.toolbar {
    height: 48px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}
